*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Quicksand', sans-serif;
}
body
{
    background-image: linear-gradient(rgba(17, 17, 24, 0.837),rgb(17, 17, 24));
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment:fixed;
    height:90%;
}
nav
{
    display: grid;
    grid-template-columns: 15% 75%;
    width: 100%;
    background-image: linear-gradient(rgba(17, 17, 24, 0.837),rgb(17, 17, 24));
    height: 50px;
    box-shadow: 0px 0px 1px black;
    position: sticky;
    z-index: 1000;
}
.logo
{
    height: 100%;
    background-color:rgb(17, 17, 24) ;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.logo a span
{
    color: rgba(144, 194, 250,0.656);
}
nav a
{
    font-size: 1rem;
    font-weight: bold;
    color: rgb(255, 255, 255);
    text-decoration: none;
    text-overflow: ellipsis;
    min-width: 1px;
    overflow: hidden;
    white-space: nowrap;
}
.parent
{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 15% 85%;
}
.partie_choix_faculte
{
    background-color:rgb(17, 17, 24);    
    display:grid;
    grid-template-rows: 90% 10%;
    text-align: center;
}

.choix_div 
{
    display: flex;
    justify-content: center;
    margin-top: 28%;
    text-align:start;
}
.choix_div ul
{
    list-style: none;
}
.choix_div ul li
{
    margin-top: 20px;
}
.choix_div ul li a
{
    color:rgba(144, 194, 250,0.656) ;
    font-size: medium;

}
.partie_tableau
{
    display: grid;
    grid-template-rows:30% 70%;
}
.choix_niveau
{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.niveau
{
    margin-left: 4%;
}
.niveau ul
{
   list-style: none;
}
.niveau ul li
{
    display: inline-block;
}
.niveau h2
{
    font-weight: 500;
    opacity: 80%;
    font-size: large;
    margin-left: 5%;
    margin-top: 2%;
    margin-bottom: 2%;
}
.tableau_des_niveau
{
    height: 70%;
    width: 45%;
    position: relative;
    left: 5%;
    border: 1px solid #a4d2a3;
    background-color: rgb(240, 248, 255);
    border-radius: 5px;
}
.log_out
{
    color: rgba(144, 194, 250,0.656);
}
.tableau_des_niveau table
{
    
    width: 90%;
    position: relative;
    left: 4%;
}
#select1,#select2,#select3
{
    width: 100%;
    padding: 3px;
    border: none;
    background-color: rgb(240, 248, 255);
    border-bottom: 1px dotted black;
}
.impression div
{
    position: relative;
    top: 38%;
    right: 20px;
}
a
{
    text-decoration: none;
}
.button_p
{
    border-radius: 10px;
    background-color: rgba(144, 193, 250, 0.656);
}
.button,.button_p
{
    padding: 8px;
    width: 80%;
    text-align: center;
    cursor: pointer;
    font-size: 12px;
    letter-spacing: 1px;
    color: white;
    font-weight: 600;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.impression_button:hover
{
    box-shadow: 2px 2px 2px rgb(138, 187, 187);
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}
.tableau
{
    width: 100%;
}
.tableau table
{
    margin-left: 4%;
    width: 60%;
    letter-spacing: 1px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 13px;
}
.tableau td
{
    margin: 0px;
    text-align: center;
    padding: 10px;
    border-bottom: 1px solid rgba(17, 17, 24, 0.371);
}
.titre_tableau
{
    background-color: rgba(17, 17, 24, 0.743);
    color: rgba(144, 193, 250, 0.542);
}
.case_saisi_note
{
    width: 35px;
    padding: 3px;
    border:none;
    background-color: rgba(17, 17, 24, 0.743);
    color: rgba(144, 193, 250, 0.542);
    text-align: center;
}
.filtre_recherche
{
    text-align: center;
    color:rgb(138, 187, 187);
    padding: 4px;
    border-radius: 15px;
    border: none;
}